:root {
    --color-grey: #7490ab;
    --color-blue: #59cede;
    --color-yellow: #ffd54d;
    
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: var(--color-blue);
  /*   background: var(--color-blue); */
    margin: 0;
  }
  
  form {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    background: var(--color-grey);
    width: 80%;
    margin: auto;
    padding: 2rem 2.5rem;
    border-radius: 15px;
  }
  
  @media (min-width: 800px) {
    form {
      width: 600px;
    }
  }
  
  h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3.7rem;
    text-align: center;
    margin: 50px auto 20px auto;
    color: var(--color-blue);
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 350px) {
    h1 {
      font-size: 2.2rem;
    }
  }
  
  input, select, button {
    margin-right: 0.6rem;
    font-size: 1.1rem;
    color: #495057;
  }

  select {
    height: 1.4rem;
  }

  .description {
    color: var(--color-blue);
    font-size: 1.1rem;
    text-align: center;
    width: 80%;
    margin: 2.4rem auto 2rem auto;
  }

  @media (min-width: 800px) {
    .description {
      width: 600px;
    }
  }



  #form-label {
    font-family: 'Fredericka the Great', cursive;
  }
  
  .form-group {
    margin: 0 auto 1.25rem auto;
    line-height: 1.6rem;
  }
  
  .form-input {
    width: 90%;
    height: 1.4rem;
    
    margin: 0.3rem 0 0 0;
    padding: .55rem;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #59cede;
  }
  
  @media (max-width: 350px) {
    .form-input {
      width: 85%;
    }
  }
  
  .input-textarea {
    padding: 0.5rem;
    width: 95%;
    min-height: 120px;
    resize: vertical;
    border-radius: 5px;
    border: 1px solid #59cede;
  }
  
  .submit-button {
    display: block;
    margin: auto;
    width: 100%;
    padding: 0.55rem;
    background-color: var(--color-yellow);
    border-radius: 5px;
    font-family: 'Fredericka the Great', cursive;
  }
  
  #img-logo {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: auto;
  }